@import url('https://fonts.googleapis.com/css?family=Oxygen');

html {
  font: 12px Verdana, Arial, sans-serif;
  background-color: #E5EFF4;
}

body {
  height: 1550px;
  margin: 0;
}

#wrapper {
    max-width:1024px;
    width: 900px;
    height: 1540px;
    margin: 0 auto;
    font-family: "Oxygen";
    color: rgb(23, 25, 32);
    background-color: rgb(149, 149, 197);
}

#name {
    height: 300px;
    background-color: #87CEFA;
    border: 1px solid black;
    border-radius: 10px;
}

#name img {
    position: relative;
    float: left;
    top: 20px;
    left: 5%;
    display: block;
    height: 200px;
    width: 150px;
    border: 2px solid slategrey;
    border-radius: 5px;
}

#name section {
    position: relative;
    float: right;
    top: 20px;
    right: 30%;
}

 #name section {
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 1.5em;
}


#name section a {
    margin-top: 5px;
    display: block;
    color: rgb(23, 25, 32);
    text-decoration: none;
    font-size: 1.2em;
    line-height: 1.8em;
}


#name  a:hover {
    position: relative;
    margin-left: -32px;
    color: rgb(73, 62, 172);
    font-size: 1.4em;
    font-weight: 900;
}

#summary, #skills, #education, #english {
  margin-top: 20px;
  height: 250px;
  background-color: #87CEFA;
  border: 1px solid black;
  border-radius: 10px;
}

#summary h2, #skills h2, #education h2, #english h2 {
  padding-left: 20px;
  font-size: 3em;
  font-weight:900;
  letter-spacing:3px;
}

#summary p, #skills p, #skills ul span, #english p {
  padding-left: 40px;
  font-size: 1.4em;
  letter-spacing: 2px;
  text-indent: 30px;
  line-height: 1.4em;
}

#skills ul {
  list-style-type: none;
}

#education {
  height: 400px;
}

#education h3 {
  padding-left: 20px;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 3px;
}

#education li {
  padding-left: 20px;
  list-style-position: inside;
  font-size: 1.4em;
  letter-spacing: 2px;
  line-height: 1.4em;
}

#english a {
  color: rgb(23, 25, 32);
  text-decoration: none;
}

#english a:hover{
  color: rgb(73, 62, 172);
  font-size: 1.4em;
  font-weight: 900;
}










